@font-face {
    font-family: "AliceinWonderland";
    src: url("/fonts/AliceinWonderland.woff") format("woff"),
        url("/fonts/AliceinWonderland.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}